:root {
  --primary-text-color: #4f4f4f;
  --primary-bg-color: #f4f6f9;
  --secondary-bg-color: #fafafa;
  --primary-title-color: #333333;
  --blue-color: #00adee;
  --black-total: #000000;
  --primary-white-color: #ffffff;
  --small-bg-color: #eeeeee;
  --border-color-grey: #828282;
  --secondary-text-font: "Product Sans", sans-serif;

  --secondary-black-color: #1b2437;
  --primary-grey-text-color: #8e8e93;
  /* --secondary-grey-text-color: #5c5c5c; */
  /* --secondary-grey-color: #efeff4; */
  /* --accent-text-color: #eda3b5; */

  /* --primary-bg-color: #f6f6f6; */
}
/* * {
  outline: 1px solid tomato;
} */

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

p,
h1,
h2,
h3,
h5,
h6,
h4,
li,
ul,
input,
button {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 360px;
  max-width: 1470px;
  padding: 0px 20px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .container {
    width: 1145px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.title {
  color: var(--333333, #333);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.32;
}

.subtitle {
  text-transform: uppercase;
  color: var(--blue-color);
  font-size: 1rem;
}
.low-link {
  color: var(--blue-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.32;
}

.section-text {
  margin-bottom: 19px;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.44;
}
/* =========HEADER=========== */
.header {
  height: auto;
  padding-top: 32px;
  padding-bottom: 59px;
  background-color: var(--primary-bg-color);
}
@media screen and (min-width: 720px) {
  .header {
    padding-top: 61px;
    padding-bottom: 164px;
    background-image: url("../images/group-of-phones.png");
    background-repeat: no-repeat;

    background-position: right bottom 42px;
  }
}
/* 
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/group-of-phones-2x.png");
  }
} */

.logo-wrapper {
  margin-bottom: 86px;
}
@media screen and (min-width: 720px) {
  .logo-wrapper {
    margin-bottom: 133px;
  }
}

.logo {
  color: #5282f0;
  font-family: var(--secondary-text-font);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.main-title {
  font-size: 1.87rem;
  letter-spacing: 0.9px;
  margin-bottom: 33px;
}
@media screen and (min-width: 720px) {
  .main-title {
    width: 47.69%;
    margin-bottom: 30px;
    font-size: 2.25rem;
    letter-spacing: 1.08px;
  }
}

.header-text {
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.44;
}
@media screen and (min-width: 720px) {
  .header-text {
    width: 39.56%;
    font-size: 1.125rem;
  }
}

.phone-stores {
  display: flex;
  gap: 29px;
  justify-content: center;
}
@media screen and (min-width: 720px) {
  .phone-stores {
    justify-content: left;
    gap: 36px;
  }
}

/* ===========AIM================= */
.aim {
  padding-top: 54px;
  background-image: linear-gradient(
      180deg,
      #fff 5%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/football-player-big.png");
  background-size: 100% 40%;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (min-width: 720px) {
  .aim {
    padding-top: 109px;
    padding-bottom: 77px;
    background-image: linear-gradient(
        270deg,
        #fff 0%,
        rgba(255, 255, 255, 0) 100%,
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/football-player-big.png");
    background-size: 50% 100%;
    background-position: left;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 720px) {
  .aim-container {
    display: flex;
    gap: 120px;
  }
}
@media screen and (min-width: 720px) {
  .aim-text-content {
    order: 1;
  }
}

.aim .subtitle {
  margin-bottom: 27px;
}
.aim-title {
  margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
  .aim-text {
    width: 75%;
    margin-bottom: 22px;
  }
}

.aim .low-link {
  display: inline-block;
  margin-bottom: 92px;
}
@media screen and (min-width: 720px) {
  .aim .low-link {
    margin-bottom: 0px;
  }
}
.aim-img-content {
  position: relative;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
  height: 390px;
}
@media screen and (min-width: 720px) {
  .aim-img-content {
    order: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.schedule {
  position: relative;
  z-index: 1;
  width: 68.61%;
  min-width: 247px;
  height: auto;
  min-height: 150px;

  text-align: left;
  border-radius: 3px;
  box-shadow: -15.127769470214844px 16.388418197631836px 33.617271423339844px
    0px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  color: var(--black-total);
}
@media screen and (min-width: 720px) {
  .schedule {
    width: 360px;
    margin-bottom: 187px;
    border-radius: 4px;
    box-shadow: -22.04164695739746px 23.878454208374023px 48.9814453125px 0px
      rgba(0, 0, 0, 0.5);
  }
}

.schedule-text {
  padding: 19px 0px 12px 11px;
  font-size: 12px;

  background-color: var(--primary-white-color);
  line-height: 1.32;
}
.schedule-time {
  font-size: 1em;
  color: var(--primary-text-color);
  margin-bottom: 9px;
}
@media screen and (min-width: 720px) {
  .schedule-time {
    font-size: 1.4em;
    margin-bottom: 13px;
  }
}
.schedule-title {
  margin-bottom: 9px;
  width: 22%;
  font-size: 1.025em;
  font-weight: 500;
}
@media screen and (min-width: 720px) {
  .schedule-title {
    font-size: 1.5em;
    line-height: 1.32;
    margin-bottom: 14px;
  }
}
.schedule-describe {
  font-weight: 400;
  font-size: 0.91em;
}
@media screen and (min-width: 720px) {
  .schedule-describe {
    font-size: 1.33em;
    line-height: 1.32;
    margin-bottom: 17px;
  }
}

.icon-arsenal {
  position: absolute;
  top: 31px;
  right: 59px;
}
@media screen and (min-width: 720px) {
  .icon-arsenal {
    width: 71px;
    height: 84px;
    right: 86px;
  }
}
.icon-chelsea {
  position: absolute;
  top: 31px;
  right: 10px;
}
@media screen and (min-width: 720px) {
  .icon-chelsea {
    width: 84px;
    height: 84px;
    right: 14px;
  }
}
.turn-panel {
  position: relative;
  width: 100%;
  height: auto;
  padding: 9px 0px 7px 11px;
  background-color: var(--small-bg-color);
}
@media screen and (min-width: 720px) {
  .turn-panel {
    padding: 13px 0px 11px 16px;
  }
}
.turn-panel-text {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--primary-text-color);
  line-height: 1.32;
}
@media screen and (min-width: 720px) {
  .turn-panel-text {
    font-size: 1.18em;
  }
}

.icon-ellipse-turn {
  position: absolute;
  width: 14.4px;
  height: 14.4px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1.4398540258407593px 1.4398540258407593px rgba(0, 0, 0, 0.25);
  top: 10.07px;
  right: 26px;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .icon-ellipse-turn {
    width: 21px;
    height: 21px;
    top: 14.68px;
    right: 38.83px;
  }
}

.icon-rectangle {
  position: absolute;
  top: 12.9px;
  right: 18px;
  border-radius: 72px;
  width: 18.739px;
  height: 9px;
  background-color: #979797;
}
@media screen and (min-width: 720px) {
  .icon-rectangle {
    top: 18.87px;
    right: 26.24px;
    width: 27.3px;
    height: 12.6px;
  }
}

.video-screen {
  position: absolute;
  bottom: 40px;
  left: 22.9%;
  width: 68.61%;
  min-width: 247px;
  min-height: 150px;
  border-radius: 3px;
  overflow: hidden;
  background-image: url(../images/football-yield.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 720px) {
  .video-screen {
    width: 360px;
    height: 218px;
    top: 187px;
  }
}

.contol-panel {
  margin-top: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  width: 100%;
  height: 34px;
  padding: 9px 10px 9px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--primary-white-color);
  font-size: 0.51rem;
  font-weight: 700;
}
@media screen and (min-width: 720px) {
  .contol-panel {
    margin-top: 183px;
    font-size: 0.75rem;
    gap: 13px;
  }
}

.contol-panel-icons {
  fill: var(--primary-white-color);
}
@media screen and (min-width: 720px) {
  .icon-pause {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 720px) {
  .control-line {
    width: 172px;
    height: 10px;
  }
}
@media screen and (min-width: 720px) {
  .icon-baseline-video {
    width: 20px;
    height: 20px;
  }
}

/* ============FEATURES==================== */
.features {
  padding-top: 42px;
  padding-bottom: 69px;
  background-color: var(--primary-bg-color);
}
@media screen and (min-width: 720px) {
  .features {
    color: var(--primary-white-color);
    background-image: url("../images/blue-bg.png");
  }
}
.features-title {
  margin-bottom: 52px;
}
@media screen and (min-width: 720px) {
  .features-title {
    color: var(--primary-white-color);
    text-align: center;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 720px) {
  .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 31px;
  }
}
.features-item:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (min-width: 720px) {
  .features-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
.features-item-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.44;
}

.icon-features {
  fill: var(--blue-color);
  margin-bottom: 11px;
}
@media screen and (min-width: 720px) {
  .icon-features {
    fill: var(--primary-white-color);
  }
}

/* =========GET STARTED============= */
.start {
  padding-top: 62px;
}
@media screen and (min-width: 720px) {
  .start {
    padding-top: 217px;
    padding-bottom: 171px;
    background: url("../images/phone-interface-1440@1.png");
    background-repeat: no-repeat;
  }
}

.start-subtitle {
  margin-bottom: 27px;
}
.start-title {
  margin-bottom: 27px;
}
.start-text {
  margin-bottom: 25px;
}
@media screen and (min-width: 720px) {
  .start-text {
    width: 44%;
    margin-bottom: 54px;
  }
}

.start-img-content {
  padding-top: 100px;
  padding-bottom: 32px;
  background: url("../images/ellipse.png"), url("../images/ellipse-2.png");
  background-repeat: no-repeat;
  background-position: 55% 40%, 50% 35%;
  background-size: 316px 316px, 473px 473px;
}
@media screen and (min-width: 720px) {
  .start-img-content {
    display: none;
  }
}

.start-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.img-box {
  position: relative;
}
.icon-notice-box {
  position: absolute;
  top: 20px;
  left: calc(50% - 117px);
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-white-color);
  box-shadow: 0px 2.4769091606140137px 12.384546279907227px rgba(0, 0, 0, 0.25),
    0px 1.9815274477005005px 4.953818321228027px rgba(51, 51, 51, 0.1);
  border-radius: 50%;
}
.icon-cart-box {
  position: absolute;
  bottom: 155px;
  right: calc(50% - 150px);
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-white-color);
  box-shadow: 0px 2.4769091606140137px 12.384546279907227px rgba(0, 0, 0, 0.25),
    0px 1.9815274477005005px 4.953818321228027px rgba(51, 51, 51, 0.1);
  border-radius: 50%;
}
/* =========REVIEW========= */

.review {
  padding-left: 26px;
  padding-right: 25px;
  padding-top: 50px;
  padding-bottom: 71px;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .review {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.review .title {
  margin-bottom: 39px;
  text-align: center;
}

.review-list {
  position: relative;
  display: flex;
  gap: 35px;
}

.review-item {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 13px 0px 17px;
  min-width: 309px;
  height: 161px;
  border-radius: 4px;
  border: 1px solid var(--border-color-grey);
  margin-bottom: 33px;
}
@media screen and (min-width: 720px) {
  .review-item {
    width: 309px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.review-item-avatar {
  margin-right: 11px;
  border-radius: 30px;
  border: 2px solid var(--blue-color);
}

.review-item-title {
  margin-right: 119px;
  color: var(--primary-title-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}
.review-icon-twitter {
  display: block;
  fill: #03a9f4;
}

.review-item-text {
  color: var(--primary-text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.32;
  text-align: left;
}

.review-icon-next-slider-right {
  position: absolute;
  top: 55px;
  right: -10px;
  z-index: 2;
}
@media screen and (min-width: 720px) {
  .review-icon-next-slider-right {
    right: 101px;
  }
}

.icon-review-icon-next-slider-left {
  display: none;
}
@media screen and (min-width: 720px) {
  .icon-review-icon-next-slider-left {
    display: block;
    position: absolute;
    top: 55px;
    left: 101px;
    z-index: 2;
  }
}

.icon-dots-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ===========FAVORITES======= */
.favorites {
  padding-top: 19px;
}
@media screen and (min-width: 720px) {
  .favorites {
    display: flex;
    gap: 77px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 720px) {
  .favorites-container {
    padding-top: 105px;
    order: 1;
  }
}

.favorites-title {
  margin-bottom: 15px;
}
@media screen and (min-width: 720px) {
  .favorites-title {
    margin-bottom: 35px;
  }
}

.favorites-text {
  margin-bottom: 37px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
}
@media screen and (min-width: 720px) {
  .favorites-text {
    width: 92%;
  }
}

.favorites .phone-stores {
  margin-bottom: 46px;
}
@media screen and (min-width: 720px) {
  .favorites .phone-stores {
    margin-bottom: 98px;
  }
}

.favorites-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media screen and (min-width: 720px) {
  .favorites-img {
    width: 666px;
  }
}

@media screen and (min-width: 720px) {
  .favorites {
    order: 0;
  }
}
/*======== CHANNELS========= */
.channels {
  padding: 57px 0px 71px 0px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 720px) {
  .channels {
    width: 100%;
    padding: 57px 0px 68px 0px;
  }
}

@media screen and (min-width: 720px) {
  .channels .container {
    text-align: center;
  }
}

.channels-title {
  margin-bottom: 43px;
}
@media screen and (min-width: 720px) {
  .channels {
    margin-right: auto;
    margin-left: auto;
  }
}

.channels-text {
  text-transform: uppercase;
  color: #000;
  font-family: Product Sans;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 0px;
}

@media screen and (min-width: 720px) {
  .channels-list {
    display: flex;
    gap: 79px;
    align-items: center;
  }
}

.sport-tv {
  display: inline-flex;
  align-items: center;
  margin-right: 65px;
  margin-bottom: 29px;
}

@media screen and (min-width: 720px) {
  .sport-tv {
    margin-bottom: 0px;
  }
}

.icon-designer-news {
  border-radius: 50%;
}
.middle-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media screen and (min-width: 720px) {
  .middle-channel {
    margin-bottom: 0px;
    gap: 79px;
  }
}

.sky {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* =========FOOTER======== */
.footer {
  height: auto;
  padding-top: 41px;
  padding-bottom: 45px;
  text-align: left;
  background-color: var(--blue-color);
  color: var(--primary-white-color);
}
@media screen and (min-width: 720px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 720px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer .logo {
  color: var(--primary-white-color);
}
.footer .logo-wrapper {
  margin-bottom: 11px;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .footer .logo-wrapper {
    margin-bottom: 0px;
  }
}

.footer .icon-logo {
  stroke: var(--primary-white-color);
}

.social-box {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 34px;
}
@media screen and (min-width: 720px) {
  .social-box {
    margin-bottom: 0px;
    order: 2;
  }
}

.social-icon {
  display: block;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 720px) {
  .footer-nav {
    align-items: center;
    gap: 37px;
  }
}
.footer-nav-link {
  color: var(--primary-white-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.32;
}
