:root {
  --primary-text-color: #4f4f4f;
  --primary-bg-color: #f4f6f9;
  --secondary-bg-color: #fafafa;
  --primary-title-color: #333333;
  --blue-color: #00adee;
  --black-total: #000000;
  --primary-white-color: #ffffff;
  --small-bg-color: #eeeeee;
  --secondary-text-font: "Product Sans", sans-serif;

  --secondary-black-color: #1b2437;
  --primary-grey-text-color: #8e8e93;
  /* --secondary-grey-text-color: #5c5c5c; */
  /* --secondary-grey-color: #efeff4; */
  /* --accent-text-color: #eda3b5; */

  /* --primary-bg-color: #f6f6f6; */
}
* {
  outline: 1px solid tomato;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

p,
h1,
h2,
h3,
h5,
h6,
h4,
li,
ul,
input,
button {
  margin: 0px;
  padding: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 360px;
  max-width: 1470px;
  padding: 0px 20px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .container {
    width: 100%;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  color: var(--333333, #333);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.32;
}
.subtitle {
  text-transform: uppercase;
  color: var(--blue-color);
  font-size: 1rem;
}
.low-link {
  color: var(--blue-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.32;
}

.section-text {
  margin-bottom: 19px;
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.44;
}
/* =========HEADER=========== */
.header {
  height: auto;
  padding-top: 32px;
  padding-bottom: 59px;
  background-color: var(--primary-bg-color);
}
.logo-wrapper {
  margin-bottom: 86px;
}

.logo {
  color: #5282f0;
  font-family: var(--secondary-text-font);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.main-title {
  font-size: 1.87rem;
  letter-spacing: 0.9px;
  margin-bottom: 33px;
}
@media screen and (min-width: 720px) {
  .main-title {
    font-size: 2.25rem;
  }
}

.header-text {
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.44;
}
.phone-stores {
  display: flex;
  justify-content: space-between;
}

/* ===========AIM================= */
.aim {
  padding-top: 54px;
}
.aim .subtitle {
  margin-bottom: 27px;
}
.aim-title {
  margin-bottom: 20px;
}

.aim .low-link {
  display: inline-block;
  margin-bottom: 22px;
}

.aim-img-content {
  padding-top: 70px;
  padding-bottom: 40px;
  height: 390px;
  background-image: linear-gradient(
      180deg,
      #fff 5%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/football-player.png");
  background-size: cover;
}
.aim-img-content .container {
  position: relative;
}
.schedule {
  position: relative;
  z-index: 1;
  width: 247px;
  height: auto;

  text-align: left;
  border-radius: 3px;
  box-shadow: -15.127769470214844px 16.388418197631836px 33.617271423339844px
    0px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  color: var(--black-total);
}
.schedule-text {
  padding: 19px 0px 12px 11px;
  font-size: 12px;

  background-color: var(--primary-white-color);
  line-height: 1.32;
}
.schedule-time {
  font-size: 1em;
  color: var(--primary-text-color);
  margin-bottom: 9px;
}
.schedule-title {
  margin-bottom: 9px;
  width: 22%;
  font-size: 1.025em;
  font-weight: 500;
}
.schedule-describe {
  font-weight: 400;
  font-size: 0.91em;
}
.icon-arsenal {
  position: absolute;
  top: 31px;
  right: 59px;
}
.icon-chelsea {
  position: absolute;
  top: 31px;
  right: 10px;
}

.turn-panel {
  position: relative;
  width: 100%;
  height: auto;
  padding: 9px 0px 7px 11px;
  background-color: var(--small-bg-color);
}
.turn-panel-text {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--primary-text-color);
  line-height: 1.32;
}

.icon-ellipse-turn {
  position: absolute;
  width: 14.4px;
  height: 14.4px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 1.4398540258407593px 1.4398540258407593px rgba(0, 0, 0, 0.25);
  top: 10.07px;
  right: 26px;
  z-index: 1;
}

.icon-rectangle {
  position: absolute;
  top: 12.9px;
  right: 18px;
  border-radius: 72px;
  width: 18.739px;
  height: 9px;
  background-color: #979797;
}

.video-screen {
  position: absolute;
  top: 128px;
  left: 73px;
  width: 247px;
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
  background-image: url(../images/football-yield.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contol-panel {
  margin-top: 117px;
  display: flex;
  align-items: center;
  gap: 9px;
  width: 100%;
  height: 34px;
  padding: 9px 10px 9px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--primary-white-color);
  font-size: 0.51rem;
  font-weight: 700;
}
.contol-panel-icons {
  fill: var(--primary-white-color);
}

/* ============FEATURES==================== */
.features {
  padding-top: 42px;
  padding-bottom: 69px;
  background-color: var(--primary-bg-color);
}
.features-title {
  margin-bottom: 52px;
}
.features-item {
  margin-bottom: 50px;
}

.icon-features {
  fill: var(--blue-color);
  margin-bottom: 11px;
}

/* =========START============= */
.start {
  padding-top: 62px;
}
.start-subtitle {
  margin-bottom: 27px;
}
.start-title {
  margin-bottom: 27px;
}
.start-text {
  margin-bottom: 25px;
}

/* =========REVIEW========= */

.review {
  padding-top: 50px;
  padding-bottom: 71px;
}
.review .title {
  margin-bottom: 39px;
}
.icon-dots-slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =========FOOTER======== */
.footer {
  height: auto;
  padding-top: 41px;
  padding-bottom: 45px;
  text-align: left;
  background-color: var(--blue-color);
  color: var(--primary-white-color);
}

.footer .logo {
  color: var(--primary-white-color);
}
.logo-wrapper {
  margin-bottom: 11px;
  text-align: left;
}
.footer .icon-logo {
  stroke: var(--primary-white-color);
}

.social-box {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 34px;
}

.social-icon {
  display: block;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-nav-link {
  color: var(--primary-white-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.32;
}
